@model Wompus_Website.Models.News

@{
    ViewBag.Title = @Model.title;
}
<div class="body div-content">
    <h2>
        @Model.title.ToString()
    </h2>
    <p class="body description-font">
        @Html.Raw(Model.Description.ToString())
    </p>
    <p class="body publish-time">
        @Html.DisplayFor(modelModel => Model.PublishTime)
    </p>
    <div class="addthis_sharing_toolbox"></div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b35ff34dfbb79f"></script>