<style>
    .music-wrapper {
       max-width: 250px;
    }

    .music-content {
        width: 250px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=72)";
        filter: alpha(opacity=72);
        -moz-opacity: 0.72;
        -khtml-opacity: 0.72;
        opacity: 0.72;
        border: 1px #888888 solid;
        background-color: #080707;
        float: left;
        margin: 0 0 20px 0;
        padding: 0;
    }
</style>
<div class="music-wrapper">
    <h2>Music</h2>
    <div class="music-content">
        <h3>Music will go here!</h3>
    </div>
</div>
