<style>
    .music-wrapper {
       max-width: 250px;
       float: right;
       padding-top: 10px;
    }

    .music-content {
        width: 250px;
        background-color: #000;
        float: left;
        margin: 0 0 20px 0;
        padding: 0;
    }
</style>
<div class="music-wrapper">
    <h2>Music</h2>
    <div class="music-content">
        <h3>Music will go here!</h3>
    </div>
</div>
