@model IEnumerable<Wompus_Website.Models.News>
<h2>Latest Updates!</h2>
@if (Model != null)
{

    foreach (var item in Model)
    {
        <div class="body div-content">
            <h2 style="padding-bottom: 35px">
                @Html.ActionLink(item.title.ToString(), "Details", "News", new { id = item.UpdateID }, null)
            </h2>
            <h3 style="padding-bottom: 20px">
                @Html.Raw(item.Description.ToString())
            </h3>
        </div>
    }
}
