@model IEnumerable<Wompus_Website.Models.Show>

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<h2> Next Show! </h2>
@if (!Model.Any())
{
    <div class="body div-content">
        <h3 style="padding-bottom: 30px">Stay tuned for more upcoming Shows!</h3>
    </div>
}
else
{
    foreach (var item in Model)
    {
        <div class="body div-content">
            <h2>
                @Html.ActionLink(item.Title.ToString(), "Details", "Shows", new { id = item.ShowID }, null)
            </h2>
            <h3>
                @Html.Raw(item.Location.ToString())
            </h3>
            <h3>
                @item.ShowDate.ToString("dddd MMMM dd yyyy h:mm tt")
            </h3>
            <p class="body description-font">
                @Html.Raw(item.Description.ToString())
            </p>
        </div>
    }
}

