@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<img src="/Images/errorImage.jpg" alt="Error getting Image on error page: Errorception" style="padding-top: 15px;" />

<h2>
    Uh Oh! An error occurred. Thanks Obama.
</h2>