@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>

<div class="body div-content">
    <p>
        <h3>
            Wompus is a garage rock band from the southwest side of Chicago, all about dirty hooks, grunge and Busch Light.
        </h3>
    </p>

    <p>
        <h3>
            Wompus was born in the summer of 2013. Mitch, Mike, Alex and Ruben are all veterans of various mediocre rock bands from around the city. A shared passion for hard-driving, fuzz-addled scuzz rock in the vein of Nirvana brought them together and they have been banging around ever since. Equal parts grunge, bubble gum pop and heavy metal, theirs is a sound raucous and wacky indeed.
        </h3>
    </p>
</div>

